// Define variables for your color scheme

// For example:

// Bootstrap:

$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom:

$dark-black: #181818;
$white: #EEEEEE;
$blue-stid: #4a9ee0;
$blue-stid-opacity: rgba(74, 158, 224, 0.1);