.titre-general-formation {
	@include flex-full-center;
	margin-bottom: 100px;
}

.formation-section-enseignements-dispenses {
	margin-bottom: 100px;
	text-align: center;
	p {
		width: 80%;
		margin: auto;
	}
	h2 {
		font-size: 1.5em;
		margin-bottom: 0.6em;
	}
}

.formation-section-details-enseignements {
	@include flex-direction(column);
	justify-content: center;
	margin: 0 auto 100px auto;
	width: 65%;

	h2 {
		font-size: 1.3em;
		margin-bottom: 25px;
	}

	p {
		font-weight: bold;
		font-style: italic;
		margin-bottom: 14px;
	}

	li {
		margin-bottom: 8px;
	}
}

.formation-section-terre-mer, .formation-section-debouches {
	width: 85%;
	margin: auto;
	text-align: center;
	margin-bottom: 100px;
	h1 {
		margin-bottom: 20px;
	}
}