<footer>

	<div class="footer-upper-section">
		<h2>Contactez-nous !</h2>
		<p>Pour toutes informations supplémentaires</p>
	</div>

	<div class="footer-lower-section">
		<div class="footer-coordinates">
			<div class="footer-addresse footer-coordinates-details">
				<i class="fas fa-map-marker-alt"></i>
				<p>650 Route des Colles, Site de Sophia-Antipolis 06560 Valbonne</p>	
			</div>
			<div class="footer-phone-number footer-coordinates-details">
				<i class="fas fa-mobile-alt"></i>
				<p>04.97.25.82.00</p>
			</div>
		</div>
		<div class="footer-social-networks">
			<i class="fab fa-twitter"></i>
			<i class="fab fa-facebook-f"></i>
			<i class="fab fa-linkedin-in"></i>
			<i class="fab fa-tiktok"></i>
		</div>
	</div>

</footer>