<footer>

	<div class="footer-upper-section">
		<h2>Contactez-nous !</h2>
		<p>Pour toutes informations supplémentaires</p>
	</div>

	<div class="footer-lower-section">
		<div class="footer-coordinates">
			<%= link_to "https://goo.gl/maps/AK8iePr9PGNcGTnBA", target: :_blank, class: "footer-addresse footer-coordinates-details" do %>
				<i class="fas fa-map-marker-alt"></i>
				<p>650 Route des Colles, Site de Sophia-Antipolis 06560 Valbonne</p>
			<% end %>	
			<div id="phone_number" class="footer-phone-number footer-coordinates-details">
				<i class="fas fa-mobile-alt"></i>
				<p>04.97.25.82.00</p>
			</div>
		</div>
		<div class="footer-social-networks">
			<%= link_to "https://www.youtube.com/channel/UCxCeCIBf_PBGe954N8H0yaQ", target: :_blank do %>
			<i class="fab fa-youtube"></i>
			<% end %>
			<%= link_to "https://fr.linkedin.com/in/stid-sophia-012555112", target: :_blank do %>
			<i class="fab fa-linkedin-in"></i>
			<% end %>
			<%= link_to "https://www.tiktok.com/fr/", target: :_blank do %>
			<i class="fab fa-tiktok"></i>
			<% end %>
		</div>
	</div>

</footer>