<header>
	<nav>
		<ul>
			<li><%= link_to "Accueil", root_path, class: "nav-button" %></li>
			<li><%= link_to "B.U.T", but_path, class: "nav-button" %></li>
			<li><%= link_to "Formation", formation_stid_path, class: "nav-button" %></li>
			<li><%= link_to "Travaux des élèves", travaux_eleves_path, class: "nav-button" %></li>
		</ul>
	</nav>
</header>