<div class="logos">
	<%= image_tag "https://iut.univ-cotedazur.fr/uas/composante-iut/LOGO_MONOCHROME/logo-iut-blanc-V2.png", class: "logo-iut logo", alt: "logo-iut", height: "180px" %>
	<%= image_tag "https://iut.univ-cotedazur.fr/medias/photo/ucalogoqhautblanc_1592312388861-png", class: "logo-uca logo", alt: "logo-uca", height: "180px" %>
</div>