<h1>B.U.T</h1>

<p>Un BUT (Bachelor Universitaire de Technologies) est un diplôme préparé en 3 ans en IUT. Un DUT est délivré à la fin des 2 premières années. La formation mise sur les travaux pratiques et des cours assurés par des professionnels du secteur. Le BUT est un diplôme national, mais reconnu à l'international, délivré sur la base d'un contrôle continu.</p>

<%= image_tag "https://i.imgur.com/YyqX8na_d.webp?maxwidth=1520&fidelity=grand", alt: "but-title" %>

<div>
	<%= image_tag "https://i.imgur.com/leOWfOF_d.webp?maxwidth=1520&fidelity=grand", alt: "but-chronique" %>
	<p>Le BUT STID permet de développer ses compétences de gestion informatique de données et leur traitement statistique. En effet la formation concentre plusieurs avantages :</p>
	<ul>
		<li>Effectif r2duit (~20 étudiants)</li>
		<li>Contrôle continu dans chaque unité d'enseignement (UE).</li>
		<li>400h de projet(s).</li>
		<li>26 semaines de stages en 2ème et 3ème année.</li>
		<li>Possibilité d'alternance en 3ème année.</li>
		<li>Équipe pédagogique d'enseignants chercheurs.</li>
		<li>Encadrement et suivi régulier des étudiants.</li>
	</ul>	
</div>
