<div class="titre-general-formation">
	<h1>La formation STID</h1>
</div>

<div class="formation-section-enseignements-dispenses">
	<h2>Les enseignements dispensés</h2>
	<p>Les enseignements de la formation sont très diversifiés et intéressantes. Les mathématiques et les statistiques représentent 40% de la formation. De même pour l'informatique et 20% pour les enseignements à rapports sociaux comme l'économie, la communication et l'anglais.</p>	
</div>

<div class="formation-section-details-enseignements">
	<h2>Voici quelques détails sur les enseignements dispensés :</h2>

	<p>Mathématiques</p>
	<ul>
		<li>Mise à niveau</li>
		<li>Analyse</li>
		<li>Algèbre</li>
	</ul>
	<p>Informatique</p>
	<ul>
		<li>Algorithmie</li>
		<li>Programmation (Java, R, SQL, Python, VBA ...)</li>
		<li>Technologies Web</li>
		<li>Représentation et traitement de données statistiques</li>
	</ul>
	<p>Statistiques</p>
	<ul>
		<li>Statistiques descriptives</li>
		<li>Statistiques inférentielles</li>
		<li>Réalisation de sondages pratiques, enquêtes et échantillonnage</li>
		<li>Échantillonnage</li>
	</ul>
	<p>Économie & Communcation</p>
	<ul>
		<li>Français et Anglais</li>
		<li>Analyse économique (micro et macroéconomie)</li>
		<li>Manaagement & Gestion</li>
		<li>Gestion d'équipes et de projets</li>
		<li>Expression écrite & orale</li>
	</ul>
</div>

<h3>Entre TERRE et MER</h3>

<p>La région de la côte d'azur bénéficie d'un climat idéal (environ 300 jours de soleil par an) pour pouvoir profiter pleinement de Nice et ses environs. La localisation géographique de l'université permet à ses étudiants de profiter des plaisirs de la montagne (ski, randonnée) aussi bien que des activités nautiques.</p>

<h3>Poursuite d'études et débouchés</h3>

<p>Le BUT STID prépare aux métiers de la Data Analyse, prévisions mais peut se déployer dans des domaines plus variés comme la médecine et la finance. Une première approche de ces milieux profesionnels est prévue dans le cadre de la formation grâce à un stage de 1 mois minimum en entreprise. Tous les domaines sont concernés par la gestion de données. Les diplômés en STID occupent généralement les postes de Data Scientist, Data Analyst et Développeur décisionnel dans divers secteurs d'activités. Et bien que ce soit possible, et que le BUT prépare à ça, peu intègrent le monde professionnel tout de suite après le BUT.</p>

<p>Une majorité d'étudiants poursuivent leurs études en : </p>
<p>Masters</p>
<ul>
	<li>MIAGE</li>
	<li>MASS</li>
	<li>Maths/Info</li>
</ul>
<p>Écoles d'ingénieurs</p>
<ul>
	<li>INSA</li>
	<li>ENSAI</li>
	<li>Polytech</li>
</ul>
<p>Mais aussi en ...</p>
<ul>
	<li>Ecoles de commerce</li>
	<li>Licenses professionnelles</li>
</ul>

<%= image_tag "https://i.imgur.com/cjoWEVb_d.webp?maxwidth=1520&fidelity=grand", alt: "Photo de SophiaTech" %>