footer {
	bottom: 0;
	@include flex-full-center;
	flex-direction: column;
	justify-content: space-around;
	height: $footer-height;
	border-top: 1px solid $blue-stid-opacity;
	box-shadow: 0px 9px 9px 9px $blue-stid-opacity;
	a {
		margin: 0 15px 0 15px;
		transition: 0.1s;
		&:hover i {
			color: $blue-stid;
			transition: 0.1s; 
		}
	}
}

.footer-upper-section {
	text-align: center;
	margin-top: 40px;
	p {
		font-size: 1.1em;
	}
}

.footer-coordinates-details {
	@include flex-direction(row);
	align-items: center;
	margin: 0.8em 0 0.8em 0;
	.fas {
		font-size: 1.5em;
		margin-right: 15px;
	}

	.fa-mobile-alt {
		margin-left: .08em;
	}
}

.footer-social-networks {
	@include flex-full-center;
	a {
		font-size: 1.8em;
	}
}

#phone_number:hover {
	cursor: grab;
}